<div ng-if="isLoggedIn">
<h1>User List</h1>
<input type="text" ng-model="searchTerm" ng-keyup="updateSearch(searchTerm)">
<div ng-repeat='user in users track by $index'>
	<a ui-sref='userPage({username: user.username})'>{{user.avatar}} {{user.username}}</a>

	 <button ng-click="addFavorite(user._id)" ng-if="!favorited(user)">Favorite</button>
	 <button ng-click="removeFavorite(user._id)" ng-if="favorited(user)">Unfavorite</button>
	<div ng-if="isAdmin">
	<button ng-click="eraseUser(user._id)">Delete</button>
	</div>
	</div>
</div>
</div>
