<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha256-P5gS9tfR0S0WBWIsn0OUp1YR2pcYMGwgfwjxX3AqncA= sha512-Jwcua5M3o+swptQ5w8vJxSuiFjfuTG0mwkJAQ/XMoT8dLVr7ZyhiLxEZPwuDSTtQEl22wYbdfQAlGxd7otaCJw==" crossorigin="anonymous">
<h1>Login</h1>
<div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input ng-model='user.username' type="text" id='username' class="form-control"></div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input ng-model='user.password' type="password" id='password' class="form-control"></div>
  <button ng-click='submit(user)' class="btn btn-default" id="login">Login</button>
</div>
