/* ______________
  |              |
  |  Shared:     |
  |______________| */

h1, p, .navbar, div, button, .modal, li, a {
  font-family: 'Righteous', cursive;
}

.navbar-brand {
  font-size: 80px;
  color: white
}

.navbar {
  font-size: 50px
  color: white
}

#backgroundGif {
  z-index: -1;
  position: relative;
  height: 100%;
}

#userImage {
  max-height: 50vh;
  max-width: 50vh;
}
.blackVote{
  display: inline-block;
}
.whiteCard{
  color: black;
  border: 1px solid black;
  height: 250px;
  width: 200px;
  display: inline-block;
  float: left;
}
.blackCard{
  color: white;
  border: 1px solid black;
  background-color: black;
  height: 250px;
  width: 200px;
  display: inline-block;
}
.userThumbnail {
  max-height: 8vh;
  max-width: 8vh;
  border-radius: 7px;
}

#profile {
  text-align: center;
  font-size: 15px;
  border: 5px, solid-red;
}

#userHeader {
  text-align: center;
  font-size: 35px;
  color: lightblue;
  font-weight: bold;
}

#profileHeader {
  font-size: 15px;
  color: lightblue;
  text-align: left;
}

#profileDetails {
  font-size: 20px;
  text-align: left;
}

#favoritesHeader {
  text-align: center;
  font-size: 35px;
  color: lightblue;
  font-weight: bold;
}

#favoriteImage {
  max-height: 25vh;
  max-width: 25vh;
  padding: 5px;
}

#unfavoriteButton {
  padding: 5px;
}

.thumbnail {
  margin: 2px 20px 0 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
#user-list-container{
  border:1px solid #313131;

}

.userListProfilePicDiv{
  border-right: 1px solid #d3d3d3;
  margin-top: 3vh;
  text-align: center;
}

.userList-titleHeader, .userList-titleSearch{
  text-align: center;
  margin: 0px auto;
  display; block;
}

.userList-EmailAndName{
  margin-top: 4vh;
}

.userListInfoContainer{
  min-height: 20vh;
}
.userContainer{
  border: 1px solid #d3d3d3;
  min-height: 20vh;
}

.userContainer:hover{
  background-color: #d3d3d3
}


.userContainer{
  border:1px solid #d3d3d3;
  border-bottom: none;
}

.userContainer{
  border:1px solid #d3d3d3;
  border-bottom: 1px solid  #d3d3d3;
}
#userList-favoriteButton{
  margin-top: 6vh;
  margin-right: 10px;
}


#home-link, #logout{
  cursor: pointer;
}

#userList-unFavoriteButton{
  margin-top: 6vh;
  margin-right: 10px;
}
.userList-username{
  "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
