#userImage {
  max-height: 50vh;
  max-width: 50vh;
}

.userThumbnail {
  max-height: 8vh;
  max-width: 8vh;
  border-radius: 7px;
}

#profile {
  text-align: center;
  border: 5px, solid-blue;
}

#favoriteImage {
  max-height: 25vh;
  max-width: 25vh;
  padding: 5px;
}

#unfavoriteButton {
  padding: 5px;

}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
} 
#user-list-container{
  border:1px solid #313131;

}

.userListProfilePicDiv{
  border-right: 1px solid #d3d3d3;
  margin-top: 3vh;
  text-align: center;
}

.userList-titleHeader, .userList-titleSearch{
  text-align: center;
  margin: 0px auto;
  display; block;
}

.userList-EmailAndName{
  margin-top: 4vh;
}

.userListInfoContainer{
  min-height: 20vh;
}
.userContainer{
  border: 1px solid #d3d3d3;
  min-height: 20vh;
}

.userContainer:hover{
  background-color: #d3d3d3
}


.userContainer{
  border:1px solid #d3d3d3;
  border-bottom: none;
}

.userContainer{
  border:1px solid #d3d3d3;
  border-bottom: 1px solid  #d3d3d3;
}
#userList-favoriteButton{
  margin-top: 6vh;
  margin-right: 10px;
}




#userList-unFavoriteButton{
  margin-top: 6vh;
  margin-right: 10px;
}
.userList-username{
  "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
