<div ng-if="isLoggedIn">
  <h1>Firebase</h1>
  <!-- <div deal-Cards></div> -->
  <!-- anything typed in here is magically saved to our Firebase database! -->
  <!-- <input type="text" ng-model="data.text"/> -->
  <!-- all changes from our Firebase database magically appear here! -->
  <!-- <h1>You said: {{ data.text }}</h1> -->

  <!-- //***Firebase Tutorials.  -->
  <div class="container col-sm-3 col-md-4">
    <!-- push a new message onto the array -->
    <div id="addMessageInput">
      <form ng-submit="addMessage(newMessageText)">
        <input ng-model="newMessageText" type="text" />
        <button type="submit">Add Message</button>
      </form>
    </div>
    <div id="messageContainer">
      <h1>MESSAGE BOARD</h1>
      <div ng-repeat="message in messages.slice().reverse() track by $index">
        <p id="messageSent">{{message.player}}</p>
        <p id="playerMessageName">{{message.username}}</p>
        <!-- <p id="playerMessageName">{{message.timestamp}}</p> -->
        <input ng-model="message.text" ng-change="messages.$save(message)" />
      </div>
    </div>
  </div>
  <!-- <h5>Voting time</h5>
  <div ng-repeat="voteCard in voteCards track by $index">
  <span>{{voteCard}}</span>
</div> -->
<div class="blackVote">
  <h3>Scenario</h3>
  <div class="blackCard"> {{blackCard.text}} <br> Pick: {{blackCard.pick}}</div>
</div>

<div class="blackVote">
  <h2>VOTES</h2>
  <div ng-if="!voted" ng-repeat="vote in votes track by $index">
    <p class="whiteCard" ng-click="voteCard(vote)"> {{vote.text}} </p>
  </div>

</div>

<h2>Your cards</h2>
<div ng-repeat="card in myHand track by $index">
  <div ng-click="addToVotedCards(card, $index, sent)" class="whiteCard"
  >{{card}}</div>
</div>


<div>
  <button ng-click="startDeck()">Start Deck (working)</button>
  <button ng-click="dealBlackCard()">Deal Black Card (working)</button>
  <button ng-click="startingHand()">Get hand (working)</button>
  <button ng-click="draw()">Draw a card(working)</button>
  <button ng-click="sayName()">Get user's namec</button>
  <!-- <button ng-click="howManyCards()">Count cards</button> -->
  <!-- <button ng-click="takeASingleCard()">Take 1 from deck</button> -->
  <!-- <button ng-click="startingBand()">Random card chosen</button> -->
  <!-- <button ng-click="killCards()">Kill all cards</button> -->
  <!-- <button ng-click="listPlayers()">List all Players</button> -->
  <!-- <button ng-click="whoAmI()">List Username</button> -->
</div>



<div>
  {{counter}}
</div>

<!--   all of this will go in our waiting for players state -->
<div class="row" >
  <!-- <h1>waiting for {{ 3 - numPlayers}} players</h1> -->

  <h2>PLAYERS</h2>
  <div ng-repeat="player in playerss track by $index">
    <p> {{player}}</p>
  </div>

</div>

<button ng-click="removePlayer()">Quit</button>

<!--   end wiating for players stuff  -->


<div class="row" ng-if="game.data.state === 'prevote'">

</div>

<div class="row" ng-if="game.data.state === 'vote'">

</div>

<div class="row" ng-if="game.data.state === 'postvote'">

</div>

<div class="row" ng-if="game.data.state === 'win'">




</div>
