<div class="container col-xs-12 col-sm-12" id="mainProfileContainer">

	<div class="row">
		<div ng-if="isLoggedIn"  id="userHeader">
			<h1>User: {{user.username}} </h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10" id="profile">

			<div class="col-sm-3 col-xs-12 thumbnail" id="imageDiv">
				<div class="row">
					<div id="imageHolder">
						<div>
							<img class="img-rounded col-xs-6 col-sm-12"
							src={{profileImageSrc}} id="userImage"></img>
						</div>
					</div>
				</div>
				<div class="row">
					<div ng-show="isOwnPage" >
						<div class="input-group" id="imageInput">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-file">
									Browse Files<input type="file" ng-model="user.uploadedImage" base-sixty-four-input id="browseFilesButton">
								</button>
							</span>
							<input ng-model="user.uploadedImage.filename" class="form-control" type="text" readonly>
						</div>
						<button class="btn btn-primary" ng-disabled="!user.uploadedImage" ng-click="uploadImage(user.uploadedImage)" id="uploadButton">Upload</button>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 thumbnail" id="profileDetailsDiv" >
				<div id="profileDetails" class="col-xs-12">
					<h2>Profile Details</h2>
					<br>
					<h2 ng-if="!isEditing" id="profileDetails">Username:    {{user.username}}</h2>
				</div>
				<div ng-if="isOwnPage" id="profile">
					<button class="btn btn-primary" ng-if="isEditing" ng-click="saveEdits()">Save New Username</button>
					<button  class="btn btn-primary" ng-if="!isEditing" ng-click="toggleEdit()" id="editButton">Edit Username</button>
					<button  class="btn btn-primary" ng-if="isEditing" ng-click="toggleEdit()">Cancel Edit</button>
					<div class="row">
						<label ng-if="isEditing" class="col-xs-4" for="username" id="profileHeader">New Username:</label>
						<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.username" value="{{user.username}}" />
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 thumbnail" id="leaderBoardDiv">
				<div ng-show="isOwnPage" >
					<h3>LeaderBoard</h3>
				</div>
			</div>

		</div>
	</div>
</div>
</div>
