<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha256-P5gS9tfR0S0WBWIsn0OUp1YR2pcYMGwgfwjxX3AqncA= sha512-Jwcua5M3o+swptQ5w8vJxSuiFjfuTG0mwkJAQ/XMoT8dLVr7ZyhiLxEZPwuDSTtQEl22wYbdfQAlGxd7otaCJw==" crossorigin="anonymous">

<div class="container">
	<div class="row">
		<div class="col-md-12" id="profile">
			<div>
				<div ng-if="isLoggedIn" class="col-sm-4 col-xs-12" id="profileA">
					<h1 id="userHeader">User: {{user.username}}</h1>
					<div id="imageHolder">
						<div>
							<img class="img-rounded col-xs-6 col-sm-12"
							src={{profileImageSrc}} id="userImage"></img>
						</div>
						<div ng-show="isOwnPage" >
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-file">
							      Browse Files<input type="file" ng-model="user.uploadedImage" base-sixty-four-input>
                  </button>
                </span>
                <input ng-model="user.uploadedImage.filename" class="form-control" type="text" readonly>
              </div>
							<button class="btn btn-primary"ng-disabled="!user.uploadedImage" ng-click="uploadImage(user.uploadedImage)">Submit</button>

						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12" >
					<div ng-if="isOwnPage" id="profile">
							<button class="btn btn-primary" ng-if="isEditing" ng-click="saveEdits()">SAVE USER INFO</button>
							<button  class="btn btn-primary" ng-if="!isEditing" ng-click="toggleEdit()">EDIT USER</button>
							<button  class="btn btn-primary" ng-if="isEditing" ng-click="toggleEdit()">CANCEL EDITING</button>
							<div class="row">
								<label ng-if="isEditing" for="email" id="profileHeader">New Email:</label>
								<input ng-model="editPayload.email" value="{{user.email}}" ng-if="isEditing"/><br>
							</div>
							<div class="row">
								<label ng-if="isEditing" class="col-xs-4" for="name" id="profileHeader">New Name:</label>
								<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.name" value="{{user.name}}"/>
							</div>
							<div class="row">
								<label ng-if="isEditing" class="col-xs-4" for="username" id="profileHeader">New Username:</label>
								<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.username" value="{{user.username}}" />								
							</div>
							<div class="row">
								<label ng-if="isEditing" class="col-xs-4" for="phone" id="profileHeader">New Phone Number:</label>
								<input ng-if="isEditing" class="col-xs-8"  ng-model="editPayload.phone" value="{{user.phone}}"/>
							</div>
							<div class="row">
								<label ng-if="isEditing" class="col-xs-4" for="address" id="profileHeader">New Location:</label>
								<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.address" value="{{user.address}}" />
							</div>
					</div>
					<div id="profileDetails" class="col-sm-3 col-xs-12">

						<h2   ng-if="!isEditing" id="profileDetails">Email:    {{user.email}}</h2>

						<h2  ng-if="!isEditing" id="profileDetails">Name:    {{user.name}}</h2>

						<h2 ng-if="!isEditing" id="profileDetails">Username:    {{user.username}}</h2>

						<h2 ng-if="!isEditing" ng-if="!hasNoPhoneNumber" id="profileDetails">Phone Number:    {{user.phone}}</h2>

						<h2  ng-if="!isEditing" id="profileDetails">Location:    {{user.address}}</h2>
					</div>
					</div>
					<div>
						<div class="col-sm-4 col-sx-12" id="profile">
							<div ng-repeat="favorite in favorites track by $index" class="col-xs-12">
								<div id="FavoritesImageDiv">
									<img ng-if="favorite.avatar"src="data:image/jpeg;base64,{{favorite.avatar}}" class="userThumbnail" id="favoriteImage"></img>
									<img ng-if="!favorite.avatar"src="http://gitrnl.networktables.com/resources/userfiles/nopicture.jpg" class="userThumbnail" id="favoriteImage"></img>
								</div>
								<a ui-sref='userPage({username: favorite.username})'>{{favorite.username}}</a>
								<button  class="btn btn-primary" ng-click="removeFavorite(favorite._id)">Unfavorite</button>
								<div ng-if="isAdmin">
									<button ng-click="eraseUser(user._id)">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
