
<h1>{{user.username}}</h1>
<div id="imageHolder">
	<div>
		<img class="img-rounded"
    src={{profileImageSrc}} id="userImage"></img>
  </div>
	<div ng-show="isOwnPage" >
		<input type="file" ng-model="user.uploadedImage" base-sixty-four-input>
		<button ng-click="uploadImage(user.uploadedImage)">Submit</button>
	</div>

  <div>
  </div>
</div>


<button ng-hide="isEditing" ng-click="toggleEdit()">EDIT USER</button>
<button ng-if="isEditing" ng-click="saveEdits()">SAVE USER INFO</button>
<button ng-if="isEditing" ng-click="toggleEdit()">CANCEL EDITING</button>
<h2  ng-hide="isEditing">{{user.email}}</h2>
<input ng-model="editPayload.email" value="{{user.email}}" ng-show="isEditing"/>
<h2  ng-hide="isEditing">{{user.name}}</h2>
<input ng-show="isEditing" ng-model="editPayload.name" value="{{user.name}}" />
<h2 ng-hide="isEditing">{{user.username}}</h2>
<input ng-show="isEditing" ng-model="editPayload.username" value="{{user.username}}" />
<h2 ng-hide="isEditing">{{user.phone}}</h2>
<input ng-show="isEditing" ng-model="editPayload.phone" placeholder="Enter Your Phone Number here" value="{{user.phone}}" />
<h2  ng-hide="isEditing">{{user.address}}</h2>
<input ng-show="isEditing" ng-model="editPayload.address" placeholder="Enter Your Address Here" value="{{user.address}}" />
<h1>Favorites</h1>
<div ng-repeat="favorite in favorites track by $index">
	<!-- {{favorite.username}} -->

	<div id="FavoritesImageDiv">
		<img ng-if="favorite.avatar"src="data:image/jpeg;base64,{{favorite.avatar}}" class="userThumbnail"></img>
		<img ng-if="!favorite.avatar"src="http://gitrnl.networktables.com/resources/userfiles/nopicture.jpg" class="userThumbnail"></img>
	</div>

	<a ui-sref='userPage({username: favorite.username})'>{{favorite.username}}</a>

		 <button ng-click="removeFavorite(favorite._id)" ng-if="favorited(user)">Unfavorite</button>

	<div ng-if="isAdmin">
	<button ng-click="eraseUser(user._id)">Delete</button>
</div>
