<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>#DirtyDeals</title>
  <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
  <link href="assets/bootswatch/cyborg/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href="styles/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/sweetalert/dist/sweetalert.css">

</head>
<body ng-app="cardsAgainstHumanity">

    <div ng-controller="MasterController">
      <nav class="navbar">
        <a class="navbar-brand" ui-sref="home">Dirty Dealer</a>
        <a ui-sref='register' ng-if="!isLoggedIn" class="nav_link register">Register</a>
        <a ng-hide="" ui-sref="userPage"  ng-if="isLoggedIn" class="nav_link profile">Profile</a>
        <a ng-click="logout()" ng-if="isLoggedIn" class="nav_link logout">Logout</a>
      </nav>

    <div class=="ui-view-container">
      <div ui-view>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="./assets/angular/angular.min.js"></script>
  <script src="./assets/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="./assets/firebase/firebase.js"></script>
  <script src="./assets/angularfire/dist/angularfire.min.js"></script>
  <script src="./assets/angular-cookies/angular-cookies.min.js"></script>
  <script src="./assets/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="./assets/angular-base64/angular-base64.min.js"></script>
  <script src="./assets/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
  <script src="./assets/ngSweetAlert/SweetAlert.min.js"></script>
  <script src="./assets/angular-sweetalert/SweetAlert.min.js"></script>
  <script src="./assets/sweetalert/dist/sweetalert.min.js"></script>
  <script src="./bundle.js"></script>
</body>
</html>
